*{
    color:rgb(11, 168, 71);
    
}

body{
    align-content: center;
    background-color: rgb(255, 252, 248);
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#logo {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    justify-content: center;
}
 
.imagen1 {
   width: 200px;
   height: auto;
   margin: auto;
}
     
    
.contenedor, #id2 {
    background-position: center;
    text-align: center;
    margin-top: 2% solid rgb(8, 138, 105);
    width: 30%;
    font-family: Helvetica;
    
}

h1{
    font-size: 40px;
    color:hsl(143, 88%, 35%); 
    font-family: Helvetica;
    text-align: center;
    margin-top: 2px;

}

#id2 {
    font: size 12px;
}

header {
    background-color: rgb(8, 138, 105);
    width: 100% ;
    position:static;
    border-radius: 5px;
}

footer {
    background-color:rgb(17, 16, 16);
    width: 100%;
    text-align: start;
    font-size: 5px;
}

  
li {
     font-family: helvetica;
     font-size: 20px;
     width: 10%;     
     text-align:justify;
     border-radius: 5px;
     
}
#mensaje  {
    font-size: 15px;
    color:rgb(255, 252, 248);
    background-color: rgb(8, 138, 105);
    Display: inline;
    
}
#mensaje:hover  {
    background-color: salmon;
    color: white;
}

#button{
    background-color: red;
    color: white;
    background-position:bottom center;
}